<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right">
          <h2>What we do </h2>
          <h3>Here we highlight what we do in a vivid description </h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
          <p>
            side ways description 
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>points 1</li>
            <li><i class="ri-check-double-line"></i> points 2</li>
            <li><i class="ri-check-double-line"></i> points 3</li>
          </ul>
          <p class="fst-italic">
            some explanations bla bla bla
          </p>
        </div>
      </div>

    </div>
  </section>