{% extends "partials/base.html" %}  
{% load crispy_forms_tags %}

{% block title %} Contact page{% endblock%}

{% block content %}
{% include 'partials/navbar.html' %}


<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Contact</h2>
        <ol>
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li>Contact</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
  <div class="map-section">
    <!-- <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe> -->
    <iframe style="border:3; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31910.127076156245!2d36.67429931668423!3d-1.3160379966215152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1c809869d64b%3A0x199b5604a77f13f5!2sKaren%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1658997110860!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <section id="contact" class="contact">
    <div class="container">

      <div class="row justify-content-center" data-aos="fade-up">

        <div class="col-lg-10">

          <div class="col-md-10  alert alert-success ">
            {% for message in messages %}
            {% if message.tags %}
            <div class="row alert alert-success">
              <div id="alert" class=" col-md-12 alert alert-success ">
                <h6>{{message}}</h6>
               </div>
            </div>
            
            {% endif %}
            {% endfor %}
           
            </div>
          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Nairobi, Kenya</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>director@chi-squareconnections.com<br>info@chi-squareconnections.com</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+254 728 569 075<br></p>
              </div>
            </div>
          </div>

        </div>

      </div>
      <style>
        #alert{
          display: inline-flex;
          justify-content: space-between;
        }
      </style>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">

          <div class="col-md-6 offset-4 p-2 mb-5">
            <h3>CONTACT US</h3>
            

          </div>
          <hr style="border: 1px solid ; margin-bottom: 5%;">
          <form  method="post" role="form"  class="col-md-10">
           
           {% csrf_token %}
           {{ message_form |crispy}}
            <div class="text-center">
              <input value="send message" type="submit" class="btn btn-primary btn-block ">
              
          </form>
        

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}