{% extends "partials/base.html" %}  
{% load crispy_forms_tags %}

{% block title %} Update Profile Page  {% endblock%}

{% block content %}

{% if user.is_staff %}

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h2 class="logo me-auto"><a href=""><span >chi</span>-SQUARE</a></h2>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <marquee behavior="slide" direction="left"> 
            <span class="text-success"> Kindly </span> <span class="text-danger"> update </span><span class="text-info">your</span><span class="text-primary"> profile</span>
          </marquee>  
        </ul>
      </nav>
      <div class="header-social-links d-flex">
        <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
      </div>
    
    </div>
  
  </header><!-- End Header -->
  
<div id="container" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      {% if messages %}
      {% for message in messages %}
          {% if message.tags == "error" %}
          <div id="alert" class="alert alert-danger">
              {{message}}
          </div>
          {% endif %}
          {% if message.tags == "success" %}
          <div class="alert alert-success">
              {{message}}
          </div>
          {% endif %}
      {% endfor %}
  {% endif %}
  
        <div class="">
            <div id="top" class=" bg-success text-white">
               Employer Profile Update Form
            </div>
            <div class="row p-3">
                <div class="col-md-12">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_update_form | crispy }}
                        {% for field in employer_profile_update_form %}
                        {% if field.field.widget.input_type == "file" %}
                            <div class="form-group">
                                <label> Current: {{ field.label}}</label><br>
                                <div class="col-md offset-md-2 p-3">
                                    <img src="/media/{{field.value}}" alt="image" style="width: 30%;">
                                </div>
                                    
                            </div>
                        {% endif %}
                        {% endfor %}
                        {{employer_profile_update_form | crispy}}
                        
                        <input type="submit" class="btn btn-success" name="submit" value="Update Profile"><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h2 class="logo me-auto"><a href=""><span >chi</span>-SQUARE</a></h2>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <marquee behavior="slide" direction="left"> 
          <span class="text-success"> Kindly </span> <span class="text-danger"> update </span><span class="text-info">your</span><span class="text-primary"> profile</span>
        </marquee>  
      </ul>
    </nav>
    <div class="header-social-links d-flex">
      <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
    </div>
  
  </div>

</header><!-- End Header -->

<div id="container" class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="alert alert-danger">
            {{message}}
        </div>
        {% endif %}
        {% if message.tags == "success" %}
        <div class="alert alert-success">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}

{% endif %}
      <div class="card">
          <div id="top" class=" bg-success text-white">
             User  Profile Update Form
          </div>
          <div class="row p-3">
              <div class="col-md-12">
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ user_update_form | crispy }}
                      {% for field in employer_profile_update_form %}
                        {% if field.field.widget.input_type == "file" %}
                            <div class="form-group">
                                <label> Current: {{ field.label}}</label><br>
                                <div class="col-md offset-md-1 p-3">
                                    <img src="/media/{{field.value}}" alt="image" style="width: 70%;">
                                </div>
                                    
                            </div>
                        {% endif %}
                        {% endfor %}
                      {{employee_profile_update_form | crispy}}
                      <input type="submit" class="btn btn-success" name="submit" value="Update Profile"><br>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endblock %}




